/* Text Styling */

h1 {
	font-family: 'Boogaloo', cursive;
	font-size: 4.75em;
	letter-spacing: -1px;
	margin: 50px 0 0 0;

}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 2em;
	letter-spacing: -1px;
	margin: 0px;
	padding: 20px 0;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.33em;
	letter-spacing: -1px;
	padding: 0 75px;
}

.answers {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.15em;
	letter-spacing: -1px;
	text-align: left;
}

.answers-wrap {
	margin: 0 auto;
	max-width: 375px;
	/*border: 2px #ff0000 solid;*/
}

.answers-wrap ul,
.answers-wrap li {
	padding-left: 0;
	list-style-type:none;
}


form {
	
}

.checked {
	float: right;
}
/* button */

button:focus {outline:0 !important;}

/* Block */
.butt {
	text-decoration: none;
	color: #fff;
	border: 10px;
	border-radius: 5px;
	display: inline-block;
	padding: 15px 26px;
	margin-top: 15px;
	font-family: 'Boogaloo', cursive;
	font-size: 2.75em;
	letter-spacing: 1px;
}

/* Modifier */
.butt-orange {
  border-color: #f26d40;
  color: fff;
  background-color: #f26d40;
}



/* Layout Styles */

.introTitle, .introImage, .introText, .introDescriptionText {
	text-align: center;
	margin: 0 auto;
}

#wrapper {
	text-align: center;
	margin: 0 auto;
	max-width: 750px;
}

#contentBox {
	padding: 0 70px;
}

img {
	padding: 20px;
}


/* SECTIONS */

section {
	/*transition: all 1s ease;*/
}

section[hidden] {
	/*display: block;*/
	/*opacity: 0;*/
	/*transform: scaleY(0); */
	/*transform: translateY(-100%);*/
	/*height: 0;*/
}
